<!DOCTYPE html>
<html>
<head>
  <title>Flow Iterators Example</title>
</head>
<body>
  <h1>For Loop:</h1>
  <ul>
    <% data.forLoopData.forEach((item) => { %>
      <li><%= item %></li>
    <% }) %>
  </ul>

  <h1>For Loop:</h1>
  <ul>
    <% data.testForData.forEach((item) => { %>
      <li><%= item %></li>
    <% }) %>
  </ul>
  <h1>For-In Loop:</h1>
  <ul>
    <% for (let key in data.forInLoopData) { %>
      <li><%= key %>: <%= data.forInLoopData[key] %></li>
    <% } %>
  </ul>

  <h1>While Loop:</h1>
  <ul>
    <% data.whileLoopData.forEach((item) => { %>
      <li><%= item %></li>
    <% }) %>
  </ul>

  <h1>Do-While Loop:</h1>
  <ul>
    <% data.doWhileLoopData.forEach((item) => { %>
      <li><%= item %></li>
    <% }) %>
  </ul>

  <h1>frutas</h1>
  <ul>
    <% data.frutas.forEach((i)=>{ %>
    <li><%=i%></li>
  <% })%>
  </ul>
</body>
</html>
